<section id="home" class="fill-height px-lg-5">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center neon-text">
        <p class="intro mb-3">Hi <i class="fas fa-hand-sparkles animate__animated animate__wave"></i>, I'm</p>
        <h2 class="name mb-4">Vigneswaran</h2>
        <p class="lead mb-4">
          I am a fresher and a self-learned frontend developer. I have a strong passion for creating interactive and responsive web applications. My goal is to continuously improve my skills and contribute to impactful projects.
        </p>
        <a class="btn btn-neon mt-3" href="assets/Vigneswaran.pdf" download="Vigneswaran.pdf">
          Resume
        </a>
      </div>
    </div>
  </div>  
</section>